.signup-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .signup-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .signup-container div {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .signup-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
  }
  
  .signup-container input, .signup-container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .signup-container input:focus, .signup-container select:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .signup-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signup-container button:hover {
    background-color: #0056b3;
  }
  
  .signup-container button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
  }
  .signup-container .error {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  .already-user {
    text-align: center;
    margin-top: 20px;
  }
  
  .login-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .login-link:hover {
    color: #0056b3;
  }
  